.loginForm {
    padding: 20px;
    text-align: center;
}

.login-container {
    background-color: white;
    border-radius: 10px;
    align-items: center;
    width: 40%;
}

input {
    margin-bottom: 10px;
}

button {
    margin: 10px;
}