<div class="jumbotron">
  <div class="login-container container">
    <form class="loginForm">
      <h1>Login</h1><br>
      <input name="username" placeholder="Username" [(ngModel)]="username"><br>
      <input name="password" placeholder="Password" [(ngModel)]="password" type="password"><br>
      <div class="row justify-content-center">
        <button type="submit" class="btn btn-primary">Login</button><br>
        <button type="submit" class="btn btn-secondary">Register</button><br>
      </div>
      
    </form>
  </div>
</div>